.purchase-list-table {
    border-spacing: 0 8px;
    text-align: end;
}

.purchase-list-table tbody tr td,
.purchase-list-table thead tr th {
    padding: 0 8px;
}

.purchase-list-table tbody tr:nth-of-type(2n) {
    background-color: aliceblue;
}

.purchase-list-summary {
    font-size: 1.2em;
    margin-top: 16px;
}
